<p></p>

<!-- ===============================================  Text, Status  ===============================================- -->

<div class="row" *ngIf="(loginFailures | async) as loginFailure">
   <div class="col-sm-11">
      <p class="alert alert-danger">
         <span *ngIf="loginFailure.name">{{loginFailure.name}}: </span>{{loginFailure.message}}
      </p>
   </div>
   <div class="col-sm-1">
      <button type="button" class="btn btn-default" (click)="clearLoginError()">Clear</button>
   </div>
</div>

<div class="row">
   <div class="col-sm-12" *ngIf="(user | async); else notLoggedIn">
      <!-- Refreshed as a result of the fact that ClusterPersistenceService.user is a promise. -->
      <p>Currently logged in as {{(user | async).name}} (uid {{(user | async).uid}}).</p>
   </div>
   <ng-template #notLoggedIn>
      <div class="col-sm-12">
         <p>
            Currently not logged in.
            <a href="#" (click)="showDelayedObservableInfo()"><span class="glyphicon glyphicon-info-sign"></span></a> You
            cannot access the database (for saving or saved clusters) unless you are logged in.
         </p>
      </div>
   </ng-template>
</div>

<div class="row" *ngIf="delayedObservableInfoShowing">
   <div class="col-sm-11 col-sm-offset-1">
     <p>
        Sometimes, due to either a bug in Angular or RxJS or my incorrect usage of same, the UI doesn't properly update
        to show state that might be changing asynchronously (and logging in/out is actually done asynchronously, as is
        almost every operation requiring some network traffic).  In such cases, the application is in the correct state
        (unless there's yet another bug in my code; entirely possible) but the UI doesn't show it.  Some sort of UI-changing
        action will clear it up (for example, generating a new cluster, loading a cluster, saving a cluster, editing a cluster, etc.).
        You should be able to proceed normally.
     </p>
   </div>
</div>


<!-- =================================================  Controls  =================================================- -->

<form class="form-horizontal">

<div class="form-group">
   <div class="col-sm-1">
      <p><button class="btn btn-default" type="button" (click)="loginWithGoogle()">Login With Google</button></p>
   </div>
</div>

<div class="panel panel-default">
   <div class="panel-heading">Or login with email and password:</div>
   <div class="panel-body">
<!--<div class="form-group">-->
   <!--<div class="col-sm-1">
      <p>
         <button class="btn btn-default" type="button" (click)="startLoginWithEmail()">Login With Email</button>
      </p>
   </div>-->
   <!--
   <div class="col-sm-2">
      <p>
         <button class="btn btn-default" type="button" (click)="createNewUserWithEmail()">Create New Account With Email</button>
      </p>
   </div>
   -->
<!--</div>-->

<!--<ng-container *ngIf="loggingInWithEmail">-->
   <div class="form-group">
      <div class="col-sm-1 col-sm-offset-1 control-label">
         <label for="userEmail">Email:</label>
      </div>
      <div class="col-sm-3">
         <input name="userEmail" [(ngModel)]="userEmail" type="email" class="form-control" />
      </div>
      <label for="emailPassword" class="col-sm-1 control-label">
            Password:
         </label>
      <div class="col-sm-3">
         <input name="emailPassword" [(ngModel)]="emailPassword" type="password" class="form-control" />
      </div>
      <div class="col-sm-3 checkbox">
         <label>
         <input name="isNewEmailAccount" type="checkbox" [(ngModel)]="isNewEmailAccount"/>
         Create new account
         </label>
      </div>
   </div>
   <ng-container *ngIf="isNewEmailAccount">
      <div class="form-group">
         <div class="col-sm-11 col-sm-offset-1">
            <p>Ok, new account. A few caveats here:</p>
            <ol>
               <li>My app sees your password. <em>Don't use a valuable password</em>                  
                  (or, really, any password you've already used somewhere else). I'm an honorable guy, but, still....</li>
               <li>If you're paranoid about email addresses, just use some made-up address. I don't verify it (yet).</li>
               <li>Google Firebase has some rudimentary password requirements, and one of them is that the password must be at
                  least six characters long.</li>
            </ol>
         </div>
      </div>
      <div class="form-group">
         <p class="col-sm-4 col-sm-offset-1">Since you're creating a new account, let's make sure you didn't fat-finger your password by making you type it again:
         </p>
         <label for="emailPassword2" class="col-sm-1 control-label">
         Password:
      </label>
         <div class="col-sm-3">
            <input name="emailPassword2" [(ngModel)]="emailPassword2" type="password" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <p class="col-sm-4 col-sm-offset-1">
            Also, you need a publicly-visible name, which can be your actual name or the kind of user id a 13-year-old
            would come up with, like <span style="white-space: nowrap;">"__--¯¯so0per sp1ffy¯¯--__"</span>. Whatever.
         </p>
         <label for="emailUserName" class="col-sm-1 control-label">
         User&nbsp;name:
      </label>
         <div class="col-sm-3">
            <input name="emailUserName" [(ngModel)]="emailUserName" type="text" class="form-control" />
         </div>
      </div>
   </ng-container>

   <div class="form-group">
      <div class="col-sm-2 col-sm-offset-1">
         <p><button class="btn btn-default" type="button" (click)="loginWithEmail()">Log in</button></p>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
         <p><button class="btn btn-default" type="button" (click)="forgotPassword()">
            I, uh... forgot my password
         </button></p>
      </div>
   </div>

   <div class="form-group" *ngIf="isForgottenPasswordSent">
      <div class="col-sm-6 col-sm-offset-6">
         <p>
            Ok, we're informing the authentication service.
         </p>
      </div>
   </div>

<!--</ng-container>-->
   </div> <!-- panel-body -->
</div> <!-- panel -->
   
<div class="form-group">
  <div class="col-sm-2">
    <p><button class="btn btn-default" type="button" (click)="logout()">Logout</button></p>
  </div>
</div>

<div class="form-group">
   <div class="col-sm-1">
      <p>
         <button class="btn btn-default" type="button" (click)="saveCluster()">Save Cluster</button>
      </p>
   </div>
   <label for="clusterName" class="col-sm-1 control-label">as</label>
   <div class="col-sm-4">
         <input name="clusterName" type="text"  [(ngModel)]="clusterName" class="form-control"/>
   </div>
</div>

<div class="form-group">
      <p class="col-sm-11 col-sm-offset-1">
         (Note that there is currently no way to make a copy of a cluster under a different name, as you might expect
         from a "Save As" operation.  Instead, you'll wind up changing the name of the current cluster, not generating
         a copy.)
      </p>
</div>

<div class="form-group">
   <div class="col-sm-2">
      <p><button class="btn btn-default" type="button" (click)="clearLocalStorage()">Clear localStorage</button></p>
   </div>
   <div class="col-sm-10">
      <p>(This app uses <code>Window.localStorage</code> to store data locally between sessions.)</p>
   </div>
</div>

</form>

<!--
<div class="form-group">
  <div class="col-sm-3">
    <p>Some random UUID:</p>
  </div>
  <div class="col-sm-9">
    <p>{{uuid}}</p>
  </div>
</div>
-->
