<p>
</p>
<div class="row">
  <div class="col-sm-8">
    <p>You cannot access the database (for saving or saved clusters) unless you are logged in.</p>
  </div>
  <div class="col-sm-1">
    <p><button class="btn btn-default" type="button">Login</button></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-8">
    <p><button class="btn btn-default" type="button">Logout</button></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <p>Give the cluster a name and save it.</p>
  </div>
  <div class="col-sm-3">
    <p><input type="text" name="clusterName"/></p>
  </div>
  <div class="col-sm-1">
    <p><button class="btn btn-default" type="button">Save</button></p>
  </div>
</div>
