<p></p>

<!-- Observable play -->
<!--
<div class="row">
  <div class="col-sm-1">Observables:</div>
  <div class="col-sm-11">
    {{_persistenceSvc.observableItem | async}}
<!--
    <ul>
      <li *ngFor="let item of _persistenceSvc.observableItems | async">{{item}}</li>
    </ul>
-->
<!--
  </div>
</div>

<p></p>
-->

<!-- More Observable play -->
<!--
<div class="row">
  <div class="col-sm-1">Clusters:</div>
  <div class="col-sm-11">
    <!-- <p>{{(_persistenceSvc.clusterNamesObservable | async)?.val()}}</p> -->
<!--
    <ul>
      <!-- When clusterNamesObservable is FromEventPatternObservable<{},{}>, the following fails with "cannot find
        differ supporting object" or some such. -->
<!--
      <li *ngFor="let clusterName of (_persistenceSvc.clusterNamesObservable | async)?.val()">{{clusterName}}</li>
    </ul>
  </div>
</div>
-->
<p></p>

<!-- ===============================================  Text, Status  ===============================================- -->

<div class="row">
   <div class="col-sm-12" *ngIf="(user | async); else notLoggedIn">
      <!-- Refreshed as a result of the fact that ClusterPersistenceService.user is a promise. -->
      <p>Currently logged in as {{(user | async).name}} (uid {{(user | async).uid}}).</p>
   </div>
   <ng-template #notLoggedIn>
      <div class="col-sm-12">
         <p>
            Currently not logged in.
            <a href="#" (click)="showDelayedObservableInfo()"><span class="glyphicon glyphicon-info-sign"></span></a> You
            cannot access the database (for saving or saved clusters) unless you are logged in.
         </p>
      </div>
   </ng-template>
</div>

<div class="row" *ngIf="delayedObservableInfoShowing">
   <div class="col-sm-11 col-sm-offset-1">
     <p>
        Sometimes, due to either a bug in Angular or RxJS or my incorrect usage of same, the UI doesn't properly update
        to show state that might be changing asynchronously (and logging in/out is actually done asynchronously, as is
        almost every operation requiring some network traffic).  In such cases, the application is in the correct state
        (unless there's yet another bug in my code; entirely possible) but the UI doesn't show it.  Some sort of UI-changing
        action will clear it up (for example, generating a new cluster, loading a cluster, saving a cluster, editing a cluster, etc.).
        You should be able to proceed normally.
     </p>
   </div>
</div>

<!-- =================================================  Controls  =================================================- -->

<form class="form-horizontal">

<div class="form-group">
   <div class="col-sm-1">
      <p><button class="btn btn-default" type="button" (click)="loginWithGoogle()">Login With Google</button></p>
   </div>
</div>

<div class="form-group">
   <div class="col-sm-1">
      <p>
         <button class="btn btn-default" type="button" (click)="startLoginWithEmail()">Login With Email</button>
      </p>
   </div>
   <!--
   <div class="col-sm-2">
      <p>
         <button class="btn btn-default" type="button" (click)="createNewUserWithEmail()">Create New Account With Email</button>
      </p>
   </div>
   -->
</div>

<ng-container *ngIf="loggingInWithEmail">
   <div class="form-group">
      <div class="col-sm-1 col-sm-offset-1 control-label">
         <label for="userEmail">Email:</label>
      </div>
      <div class="col-sm-3">
         <input name="userEmail" [(ngModel)]="userEmail" type="email" class="form-control" />
      </div>
      <label for="emailPassword" class="col-sm-1 control-label">
            Password:
         </label>
      <div class="col-sm-3">
         <input name="emailPassword" [(ngModel)]="emailPassword" type="password" class="form-control" />
      </div>
      <div class="col-sm-3 checkbox">
         <label>
         <input name="isNewEmailAccount" type="checkbox" [(ngModel)]="isNewEmailAccount"/>
         Create new account
         </label>
      </div>
   </div>
   <div class="form-group" *ngIf="isNewEmailAccount">
      <div class="col-sm-4 col-sm-offset-1">
         <p>Since you're creating a new account, let's make sure you didn't fat-finger your password by making you type it again:
         </p>
      </div>
      <label for="emailPassword2" class="col-sm-1 control-label">
         Password:
      </label>
      <div class="col-sm-3">
      <input name="emailPassword2" type="password" [(ngModel)]="emailPassword2" class="form-control" />
      </div>
   </div>
   <div class="form-group">
      <div class="col-sm-2 col-sm-offset-1">
         <button class="btn btn-default" type="button" (click)="loginWithEmail()">Log in</button>
      </div>
   </div>
</ng-container>

<div class="form-group">
  <div class="col-sm-2">
    <p><button class="btn btn-default" type="button" (click)="logout()">Logout</button></p>
  </div>
</div>

<div class="form-group">
   <div class="col-sm-1">
      <p>
         <button class="btn btn-default" type="button" (click)="saveCluster()">Save Cluster</button>
      </p>
   </div>
   <label for="clusterName" class="col-sm-1 text-right">as</label>
   <div class="col-sm-3">
         <input name="clusterName" type="text" size="40" [(ngModel)]="clusterName" class="form-control"/>
   </div>
</div>

<div class="form-group">
      <p class="col-sm-11 col-sm-offset-1">
         (Note that there is currently no way to make a copy of a cluster under a different name, as you might expect
         from a "Save As" operation.  Instead, you'll wind up changing the name of the current cluster, not generating
         a copy.)
      </p>
</div>

</form>

<!--
<div class="form-group">
  <div class="col-sm-3">
    <p>Some random UUID:</p>
  </div>
  <div class="col-sm-9">
    <p>{{uuid}}</p>
  </div>
</div>
-->
