<div class="container-fluid">

  <h1 style="text-align: center">
    <a href="http://www.vsca.ca/Diaspora/" target="_blank">Diaspora</a>
    <a href="http://www.vsca.ca/Diaspora/diaspora-srd.html#clusters" target="_blank">Cluster</a>
    Maintenance
  </h1>
  <div class="row">
  <div class="col-sm-12 ">
     <p class="text-center bg-warning">
     (Currently in the middle of a migration to a new database structure.  Things might be a bit broken at the moment,
     in terms of saving and loading clusters  You should still be able to generate clusters and access their XML.)
     </p>
  </div>
  </div>

  <!-- <div><alert type="info">ng2-bootstrap hello world!</alert></div> -->

  <!--
  <div><app-tabs></app-tabs></div>
  <div><app-generator-params></app-generator-params></div>
  <div><app-xml></app-xml></div>
  <div><app-dot></app-dot></div>
  -->

  <!--
  <tabset>
    <tab heading="Params">Params</tab>
    <tab heading="XML">XML</tab>
    <tab heading="Dot">Dot</tab>
  </tabset>

  <p></p>
  -->
  
<!--
   So... the tabs are just a bunch of links.  The trick is to do something useful with those links, like maybe feed them
   through the Angular router.  There's no magic to the list-item contents, it's just a visual presentation of links.
-->
<nav>
  <ul class="nav nav-tabs" id="tabs">
    <li role="presentation" routerLinkActive="active"><a routerLink="/params"       role="tab" >Params</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/details"      role="tab" >Cluster</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/xml"          role="tab" >XML</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/session-ops"  role="tab" >Session</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/about"        role="tab" >About</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<!--
<app-generator-params></app-generator-params>
<app-cluster-details></app-cluster-details>
<app-xml></app-xml>
<app-dot></app-dot>
-->

</div>

<!--
Local Variables:
fill-column: 120
End:
-->
