<div class="container-fluid">

<h1 style="text-align: center">{{title}}</h1>

  <!-- <div><alert type="info">ng2-bootstrap hello world!</alert></div> -->

  <!--
  <div><app-tabs></app-tabs></div>
  <div><app-generator-params></app-generator-params></div>
  <div><app-xml></app-xml></div>
  <div><app-dot></app-dot></div>
  -->

  <!--
  <tabset>
    <tab heading="Params">Params</tab>
    <tab heading="XML">XML</tab>
    <tab heading="Dot">Dot</tab>
  </tabset>

  <p></p>
  -->
  
<!--
   So... the tabs are just a bunch of links.  The trick is to do something useful with those links, like maybe feed them
   through the Angular router.  There's no magic to the list-item contents, it's just a visual presentation of links.
-->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a routerLink="/params" href="#">Params</a></li>
    <li role="presentation"><a routerLink="/details" href="#">Cluster</a></li>
    <li role="presentation"><a routerLink="/xml" href="#">XML</a></li>
    <li role="presentation"><a routerLink="/dot" href="#">Dot</a></li>
</ul>
<router-outlet></router-outlet>

<!--
<app-generator-params></app-generator-params>
<app-cluster-details></app-cluster-details>
<app-xml></app-xml>
<app-dot></app-dot>
-->

</div>

<!--
Local Variables:
fill-column: 120
End:
-->
