<h2>How to use this tab</h2>
  
<p>
  In the box below, you will see some text. This text is input to the <a href="http://www.graphviz.org/"
  target="_blank">graphviz</a> family of programs, the most "famous" of which is <strong>dot</strong>.  To use the
  output of this tab, you will need to download GraphViz.
</p>

<p>
  Copy and paste the text below into a text file (using Notepad or whatever is your favorite editor) and submit it
  to <code>neato(1)</code>, using a command line similar to the following:
</p>

<pre>blah blah blah</pre>

<textarea id="dotOutput" rows="25" readonly wrap="hard" style="width: 100%">
  Now is the time for all good men to come to the aid of their country.
  foo
  bar
  baz
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
  All work and no play makes Jack a dull boy.
</textarea>
