/* You can add global styles to this file, and also import other style files */

.required { color: magenta; }

label.required { font-size: larger; }

/* Hack for Bootstrap table-responsive. */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
