/* You can add global styles to this file, and also import other style files */

.required { color: magenta; }

label.required { font-size: larger; }

/* Hack for Bootstrap table-responsive. */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

table.table.cluster-details th, table.table.cluster-details td {
    vertical-align: middle;
    /* border: 1px solid red; */
}

.explication {
   margin-left: 5%;
}

.explication h2, h3 {
   margin-left: -5%;
}

/*
.explication h4 {
   margin-left: -5%;
}
*/

.explication dd {
   margin-left: 4%;
   margin-bottom: 1em;
}